﻿html {
    height: 100%;
    width: 100%
}

body,div {
    height: 100%;
    width: 100%;
    margin: 0;
}

button {
    height: 100%;
    width: 100%;
    margin: 0;
}
.one-third-height{
    height: 33%;
}